$sky-blue: #5784e6;
$primary-color: #0b1957;

$secondary-color: #6c757d; // Bootstrap secondary gray
$info-color: #17a2b8; // Bootstrap info cyan
$light-color: #f8f9fa; // Bootstrap light gray
$dark-color: #343a40; // Bootstrap dark gray
$background-color: #ffffff; // White background
$text-color: #212529; // Bootstrap text color

$text-color-2: #0f0576;

// width
// #7DD4FCA6 background-color
//#7DD4FC82 icon color
// #24ADEC hover color
